@import "../../../../constants.scss";

@keyframes title-keyframe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.list-item {
  margin-top: 1rem;
  width: 100%;
  font-size: 14px;
  &[data-iscollapsed="false"] {
    &[data-isactive="true"] {
      // background-color: $primary-color;
      // color: white;
      border-right: 3px solid $primary-color;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  //   .info-icon {
  //     opacity: 0;
  //     transition: 0.4s;

  //   }

  &[data-iscollapsed="false"] {
    .title {
      opacity: 1;
      transition-delay: 0.1s;
      animation-delay: 0.1s;
      animation-name: title-keyframe;
      animation-duration: 0.3s;
      width: auto;
      margin-left: 0.5rem;
    }
    a [data-isactive="true"] {
      // background-color: $primary-color;
      // color: white;
      border-right: 5px solid $primary-color;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .info-icon {
      //   opacity: 1;
      position: absolute;
      right: 10px;
    }
    .description {
      height: auto;
      opacity: 1;
      background-color: #e4f2ed;
      padding: 0.5rem;
      margin-block: 0.5rem;
      margin-inline-end: 0.25rem;
      border-radius: 4px;
      font-size: 10px;
      transition: 0.4s;
      transition-delay: 0.5s;
    }
  }
  &[data-iscollapsed="true"] {
    .title {
      opacity: 0;
      width: 0;
    }
    .description {
      height: 0 !important;
      opacity: 0;
      font-size: 1px;
      transition: 0.4s;
    //   padding: 0px;
    //   margin: 0;
    //   transition-delay: 0.5s;

      //   background-color: aquamarine;
    }
  }
  a {
    position: relative;
    display: flex;
    // padding-block: .5rem;
    align-items: center;
    width: 100%;
    justify-items: flex-start;
    text-decoration: none;
    color: $primary-color;
    border-radius: 6px;
    // transition: 0.2s;
    // background-color: aliceblue;
    &:hover {
      background-color: #ddf2ef;
    }

    // &[data-iscollapsed="false"] {
    //   &[data-isactive="true"] {
    //     // background-color: $primary-color;
    //     // color: white;
    //     border-right: 3px solid $primary-color;
    //     border-top-right-radius: 0;
    //     border-bottom-right-radius: 0;
    //   }
    // }
  }
}
