@import "../../constants.scss";

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: $primary-color;
  height: 36px;
  width: 36px;
  transition: 0.2s;
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    background-color: #ddf2ef;
  }

  &[data-isActive="true"] {
    background-color: $primary-color;
    color: white;
  }
}

// .icon-wrapper[data-isActive="true"] {
//   background-color: $primary-color;
//   color: white;
// }
